div img {
position:relative;
left:600px;
size:70%;
}
form {
	position:relative;
	left:1200px;
	font-family:Freestyle Script;
}
i{
position:relative;
right:20px;
}
div id {
	role:combobox;
	border-radius: 15px;
	
	
}